/* KeyFrames */
@keyframes moveHead {
    0%, 50%, 100%, 56%, 89% {
        transform: rotate(0deg);
    }

    51%, 55% {
        transform: rotate(5deg);
    }

    90%, 98% {
        transform: rotate(-5deg);
    }

}

@keyframes moveTail {

    0% {
        transform: rotate(-45deg);
    }
    50% {
        transform: rotate(-30deg);
    }
    100% {
        transform: rotate(-45deg);
    }
}

@keyframes moveEarsRight {
    0%, 50% {
        transform: rotate(45deg);
    }

    51%, 55% {
        transform: rotate(50deg);
    }

    56%, 89% {
        transform: rotate(45deg);
    }

    90%, 98% {
        transform: rotate(40deg);
    }

    100% {
        transform: rotate(45deg);
    }

}

@keyframes earRight {
    0%, 50% {
        transform: rotate(170deg);
    }

    51%, 55% {
        transform: rotate(175deg);
    }

    56%, 100% {
        transform: rotate(170deg);
    }
}

@keyframes earLeft {
    0%, 50% {
        transform: scale(-1, 1) rotate(170deg);
    }

    51%, 55% {
        transform: scale(-1, 1) rotate(175deg);
    }

    56%, 100% {
        transform: scale(-1, 1) rotate(170deg);
    }

}

@keyframes earUpRight {
    0%, 30% {
        transform: rotate(170deg);
    }

    31%, 89% {
        transform: rotate(160deg);
    }

    90%, 100% {

        transform: rotate(170deg);
    }

}

@keyframes earUpLeft {
    0%, 30% {
        transform: scale(-1, 1) rotate(170deg);
    }

    31%, 89% {
        transform: scale(-1, 1) rotate(160deg);
    }

    90%, 100% {
        transform: scale(-1, 1) rotate(170deg);
    }

}


@keyframes moveEarsLeft {
    0%, 50% {
        transform: scale(-1, 1) rotate(45deg);
    }

    51%, 55% {
        transform: scale(-1, 1) rotate(50deg);
    }

    56%, 89% {
        transform: scale(-1, 1) rotate(45deg);
    }

    90%, 98% {
        transform: scale(-1, 1) rotate(40deg);
    }

    100% {
        transform: scale(-1, 1) rotate(45deg);
    }
}

@keyframes moveBody {
    0% {
        top: 50px
    }

    50% {
        top: 45px;
    }

    100% {
        top: 50px
    }
}

@keyframes moveBody2 {
    0% {
        top: -50px
    }

    50% {
        top: -55px;
    }

    100% {
        top: -50px
    }
}

@keyframes headDown {
    0% {
        top: 0
    }

    50% {
        top: 5px;
    }

    100% {
        top: 0
    }
}

@keyframes pawLeft {
    0% {
        top: 106px
    }

    50% {
        top: 101px;
    }

    100% {
        top: 106px
    }
}

@keyframes pawRight {
    0% {
        top: 104px
    }

    50% {
        top: 99px;
    }

    100% {
        top: 104px
    }
}

@keyframes irisShrink {
    0% {
        top: 7px;
        height: 15px;
        width: 20px;
        left: 6px;
    }

    50% {
        top: 9.5px;
        height: 10px;
        width: 16px;
        left: 8px;
    }

    100% {
        top: 7px;
        height: 15px;
        width: 20px;
        left: 6px;
    }
}